:root {
  --background: #f8e8e0;
  --primary: #f8b888;
  --secondary: #804000;
  --foreground: #301800;
}

.dark-mode {
  --background: #424238;
  --primary: #606056;
  --secondary: #88887E;
  --foreground: #f8b888;
}

.gameboy {
  --background: #e0f8a0;
  --primary: #78c838;
  --secondary: #488818;
  --foreground: #081800;
}

.dark-purple {
  --background: #7878c8;
  --primary: #f868f8;
  --secondary: #f8d000;
  --foreground: #404040;
}

.chateau {
  --background: #F5F5F5;
  --primary: #90C8C8;
  --secondary: #FFD712;
  --foreground: #2B2525;
}

.no-animate {
  transition: false;

  h1, h2, h3, h4 {
    transition: false;
  }

  a {
    transition: false;
  }

  .menu {
    transition: false;
  }

  .project {
    .info {
      transition: false;
    }

    p {
      transition: false;
    }
  }
}

.animating {
  .controls-holder {
    .button {
      transition: fill 2s ease-in-out, stroke 2s ease-in-out;
    }

    .title-link {
      transition: color 2s ease-in-out;
    }
  }

  div {
    a {
      transition: color 2s ease-in-out;
    }
  }
}
