.project {
  display: flex;
  justify-content: center;
  margin-top: 70px;
  margin-bottom: 0px;
  padding: 0 20px;

  p {
    font-family: 'PT Serif', serif;
    color: var(--foreground);
    transition: color 2s ease-in-out;
  }

  > div {
    max-width: 1200px;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 10px;
  }

  .button-holder {
    display: flex;
    flex-direction: row;
    gap: 10px;
  }

  .back {
    display: flex;
    width: fit-content;
    padding: 4px 6px;
    border-radius: 5px;
    background: var(--foreground);
    transition: background 2s ease-in-out, color 2s ease-in-out;
    text-decoration: none;
    font-family: 'Press Start 2P', cursive;
    font-size: 0.625rem;
    color: var(--background);
    border: none;

    &:hover {
      text-decoration: underline;
      cursor: pointer;
    }
  }

  .link {
    text-decoration: none;

    &:hover {
      text-decoration: none;
    }

    > div {
      display: flex;
      width: fit-content;
      padding: 4px 6px;
      border-radius: 5px;
      background: var(--foreground);
      transition: background 2s ease-in-out, color 2s ease-in-out;
      text-decoration: none;
      font-family: 'Press Start 2P', cursive;
      font-size: 0.625rem;
      color: var(--background);
      border: none;
      text-transform: uppercase;

      &:hover {
        text-decoration: underline;
        cursor: pointer;
      }
    }
  }

  .image {
    max-height: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    overflow: hidden;
    border-radius: 5px;
    position: relative;

    .info {
      top: 20px;
      left: 20px;
      position: absolute;
      border: 2px solid var(--background);
      color: var(--background);
    }


    img {
      height: auto;
      width: 100%;
    }
  }

  .info-holder {
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
   }

  .info {
    padding: 10px 10px 9px;
    display: flex;
    width: fit-content;
    border-radius: 5px;
    border: 2px solid var(--foreground);
    color: var(--foreground);

    transition: all 2s ease-in-out;
    font-size: 0.625rem;
    font-family: 'Press Start 2P', cursive;
    text-transform: uppercase;
  }

  @media screen and (max-width: 500px) {
    margin: 90px 0;
  }
}
