<div class="projects">
  <div class="three-holder">
    {{ range $.Site.RegularPages }}
    {{ $front_texture := "" }}{{ with resources.Get .Params.display_data.front_texture }}{{$front_texture = .Permalink}}{{ end }}
    {{ $back_texture := "" }}{{ with resources.Get .Params.display_data.back_texture}}{{$back_texture = .Permalink}}{{ end }}
    {{ $spine_texture := "" }}{{ with resources.Get .Params.display_data.spine_texture }}{{$spine_texture = .Permalink}}{{ end }}
    {{ $page_texture := "" }}{{ with resources.Get .Params.display_data.page_texture }}{{$page_texture = .Permalink}}{{ end }}

    <project-data 
      data-front-texture="{{ $front_texture }}"
      data-back-texture="{{ $back_texture }}"
      data-spine-texture="{{ $spine_texture }}"
      data-page-texture="{{ $page_texture }}"
      data-title="{{ .Title }}"
      data-url="{{ .Permalink }}"
      ></project-data>
    {{ end }}
  </div>
</div>
